* {
    margin: 0;
    padding: 0;
}
.bg-dark {
    background-color: rgb(40,40,40);
}

.full-width {
    width: 100%;
}

.auto-height {
    height: auto;
}

.font-size-20 {
    font-size: 20px;
}